<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Contact Us | Hospital Incorporations</title>
	<meta name="description" content="Free Futuristic Hospitals">
	<meta name="author" content="The Rishabh Jain">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS stylesheets-->
	<link rel="stylesheet" href="../../static/stylesheets/base.css">
	<link rel="stylesheet" href="../../static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="../../static/stylesheets/layout.css">
  <link rel="stylesheet" href="../../static/stylesheets/flexslider.css">
	<link rel="stylesheet" href="../../static/stylesheets/prettyPhoto.css">

	  <!-- CSS -->
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/scripts.js"></script>

	<!-- Favicons -->
	<link rel="shortcut icon" href="../../static/images/hospitalicon.ico">
	<link rel="Hospital-touch-icon" href="../../static/images/Hospital-touch-icon-64.png">
	<link rel="Hospital-touch-icon" sizes="72x72" href="../../static/images/Hospital-touch-icon-72.png">
	<link rel="Hospital-touch-icon" sizes="114x114" href="../../static/images/Hospital-touch-icon-128.png">

</head>

<body class="wrap">

	<!-- Primary Page Layout -->
	<header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="index.html" id="logo"><img src="../../static/images/hospitalLOGO.png" alt="Hospital Incorporations logo" height="64" width="105" /></a>
    </h1>
    </hgroup>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
    <li id="menu-item-1">
    <a href="index.html">Home</a>
    </li>
    <li id="menu-item-2">
    <a href="three-column.html">Domain</a>
    </li>	
    <li id="menu-item-6" class="current">
    <a href="contact.html">Contact</a>
    </li>
	<li id="menu-item-7">
    <a href="form">Contribute</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">

	<div class="tagline">

		        <p><strong>The Contact form has been submitted. Help is on the way.</strong><br /></p>
		</div>


        <article class="ten columns main-content">
        <h1>Need any Help? Just fill in the Help Form.</h1>

      <div id="message"></div>

			<form method="post" action="contact.php" name="contactform" id="contactform">

			<fieldset>

			<legend>Please fill in the following form to contact us</legend>

			<label for="name" accesskey="U"><span class="required">*</span> Your Name</label>
			<input name="name" type="text" id="name" size="30" value="" />

			<br />
			<label for="email" accesskey="E"><span class="required">*</span> Email</label>
			<input name="email" type="text" id="email" size="30" value="" />

			<br />
			<label for="phone" accesskey="P"><span class="required">*</span> Phone</label>
			<input name="phone" type="text" id="phone" size="30" value="" />

			<br />
			<label for="subject" accesskey="S">Subject</label>
			<select name="subject" id="subject">
			  <option value="Support">Ambulance Service</option>
			  <option value="a Sale">Consultancy</option>
				<option value="a Medicine">Pharmacy</option>
			  <option value="a Bug fix">Any Complaint?</option>
			</select>

			<br />

			<label for="comments" accesskey="A"><span class="required">*</span>Address</label>
			<textarea name="comments" cols="40" rows="3" id="comments" style="width: 350px;"></textarea>


			<label for="comments" accesskey="C"><span class="required">*</span>Query/Description for Purpose</label>
			<textarea name="comments" cols="40" rows="3" id="comments" style="width: 350px;"></textarea>

			<p><span class="required">*</span> Are you human?</p>

			<label for="verify" class="verify-this" accesskey="V">&nbsp;&nbsp;&nbsp;3 + 1 =</label>
			<input name="verify" type="text" id="verify" class="verify-this" size="4" value="" style="width: 30px;" /><br /><br />

			<a href = "contact_submit.html" class = "button--style-red">SUBMIT</a>


			</fieldset>

			</form>

        </article>
        <!-- End main Content -->


				<aside class="four columns right-sidebar">

				<div class="sidebar-widget social">
				<h2>Like anything about us?</h2>
				<p>If you think Hospital Incorporations is as good as a child's dream, share the social love and let the injured and needy know:</p>
				<ul>
<li><a href="http://www.twitter.com/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
<li><a href="http://www.facebook.com/"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
<li><a href="https://plus.google.com/"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
</ul>
				</div>


		 <div class="sidebar-widget">
		 <h2>Testimonials</h2>
		 <blockquote class="testimonial no-after">
	Hospital Incorporations is a boon to the all living creatures in this world, which selflessly provides good healthcare and treatment to all, impartially.!
	<cite>Narendra Modi</cite>
	</blockquote>

	<blockquote class="testimonial no-after">
	Care to look upon all the ignored and make them feel like they are not alone in this world.!
	<cite>Rajesh Mishra</cite>
	</blockquote>

	<blockquote class="testimonial no-after">
	80% of India's population ignores little health related issues just because of finance. Now, that problem's solved..
	<cite>Dr. Giriraj Sharma</cite>
	</blockquote>
		 </div>
		 </aside>
		 <!-- End Right Sidebar -->

 </div>


		<footer>

		<div class="footer-inner container">


		<div class="social footer-columns one-third column">
		<h2><i class="icon-bullhorn icon-large"></i> Get Social</h2>
		<p>Want to stalk us? Well, We will allow you to do so:</p>
		<ul>

		<li><a href="http://www.twitter.com/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
		<li><a href="http://www.facebook.com/"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
		<li><a href="https://www.google.com"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
		</ul>
		</div>

		<div class="footer-columns one-third column">
		<h2><i class="icon-book icon-large"></i> Admission for a Patient</h2>
		<p>The patient need not worry about anything. They must not think about us like some profit making industry (just like other hospitals). Hospital Incorporations is a completly non-profit health organisation for the needy. <strong>All patients are treated with utmost seriousness and as soon as possible.</strong></p>
		</div>

		<div class="footer-columns one-third column">
		<h2><i class="icon-user icon-large"></i> About Us</h2>
		<p>A non-Profit Health organisation under World Leaders and prominently Team. A sequence of most advanced hospitalization services around the globe focused at making the world a better; a healthier place! Join us in this quest for making yourself proud and Satisfied.!</p>
		</div>

		</div>

		<div id="footer-base">
		<div class="container">
		<div class="eight columns">
		Here, <a href="index.html">Join us!</a> Hospital Incorporations &copy; 2019
		</div>

		<div class="eight columns far-edge">
		Project by <a href="http://www.linkedin.com">Mr. Rishabh Jain</a> CSE.
		</div>
		</div>
		</div>

		</footer>

		<!-- End Document -->

		<script src="js/jquery.prettyPhoto.js"></script>
		</body>
		</html>
