<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Homepage | Hospital Incorporations</title>
	<meta name="description" content="Free Futuristic Hospitals">
	<meta name="author" content="The Rishabh Jain">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<!-- CSS stylesheets-->
	<link rel="stylesheet" href="../../static/stylesheets/base.css">
	<link rel="stylesheet" href="../../static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="../../static/stylesheets/layout.css">
  	<link rel="stylesheet" href="../../static/stylesheets/flexslider.css">
	<link rel="stylesheet" href="../../static/stylesheets/prettyPhoto.css">

	  <!-- CSS -->
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/scripts.js"></script>

	<!-- Favicons -->
	<link rel="shortcut icon" href="../../static/images/hospitalicon.ico">
	<link rel="Hospital-touch-icon" href="../../static/images/Hospital-touch-icon-64.png">
	<link rel="Hospital-touch-icon" sizes="72x72" href="../../static/images/Hospital-touch-icon-72.png">
	<link rel="Hospital-touch-icon" sizes="114x114" href="../../static/images/Hospital-touch-icon-128.png">

</head>

<body class="wrap">

	<!-- Primary Page Layout -->
	<header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="index.html" id="logo"><img src="../../static/images/hospitalLOGO.png" alt="Hospital Incorporations logo" height="64" width="105" /></a>
    </h1>
    </hgroup>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
    <li id="menu-item-1" class="current">
    <a href="index.html">Home</a>
    </li>
    <li id="menu-item-2">
    <a href="three-column.html">Domain</a>
    </li>	
    <li id="menu-item-6">
    <a href="contact.html">Contact</a>
    </li>
	<li id="menu-item-7">
    <a href="form">Contribute</a>
    </li>
    </ul>
	
    </nav>
    </div>
    </header>

	<h3> Medicine's details- </h3>
	<br>
	<table class="table table-bordered">
		<thead class="thead-light">
		    <tr>
		        <th>Name</th>
		        <th>Price</th>
		        <th>Contributor</th>
		        <th>Phone</th>
		        <th>Date</th>
			<th>Address</th>
		    </tr>
		</thead>

		

		<tbody>
		    {% for med in data %}
		        <tr>
		            <td>{{ med.name }}</td>
		            <td>{{ med.price }}</td>
		            <td>{{ med.user_name }}</td>
		            <td>{{ med.phone }}</td>
		            <td>{{ med.date }}</td>
			    <td>{{ med.address }}</td>
		        </tr>
		    {% endfor %}

		</tbody>
	    </table>
        <hr> <!-- For a horizontal line -->



<footer>

<div class="footer-inner container">


<div class="social footer-columns one-third column">
<h2><i class="icon-bullhorn icon-large"></i> Get Social</h2>
<p>Want to stalk us? Well, We will allow you to do so:</p>
<ul>
<li><a href="http://www.twitter.com/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
<li><a href="http://www.facebook.com/"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
<li><a href="https://www.google.com"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
</ul>
</div>

<div class="footer-columns one-third column">
<h2><i class="icon-book icon-large"></i> Admission for a Patient</h2>
<p>The patient need not worry about anything. They must not think about us like some profit making industry (just like other hospitals). Hospital Incorporations is a completly non-profit health organisation for the needy. <strong>All patients are treated with utmost seriousness and as soon as possible.</strong></p>

</div>

<div class="footer-columns one-third column">
<h2><i class="icon-user icon-large"></i> About Us</h2>
<p>A non-Profit Health organisation under World Leaders and prominently Team. A sequence of most advanced hospitalization services around the globe focused at making the world a better; a healthier place! Join us in this quest for making yourself proud and Satisfied.!</p>
</div>

</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
Here, <a href="index.html">Join us!</a> Hospital Incorporations &copy; 2019
</div>

<div class="eight columns far-edge">
Project by <a href="http://www.linkedin.com">Team</a> CSE.
</div>
</div>
</div>

</footer>

<!-- End Document -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>
