{% load easy_maps_tags %}
<html> 
<head>
	

<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

</head>
<body>
	<div id='map' style='width: 1920px; height: 1080px;'></div>
	<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoic2lkNzc5IiwiYSI6ImNrM21ybzk0YzE4djczbm40ZWx5OWdpOWcifQ.D34Xwg5Ax9LFYBPLNBdFdw';
	var map = new mapboxgl.Map({
	container: 'map',
	style: 'mapbox://styles/mapbox/streets-v11'
	});
	</script>
</body>
</html>
