<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Domain | Hospital Incorporations</title>
	<meta name="description" content="Free Futuristic Hospitals">
	<meta name="author" content="The Rishabh Jain">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS stylesheets-->
	<link rel="stylesheet" href="../../static/stylesheets/base.css">
	<link rel="stylesheet" href="../../static/stylesheets/skeleton.css">
	<link rel="stylesheet" href="../../static/stylesheets/layout.css">
  <link rel="stylesheet" href="../../static/stylesheets/flexslider.css">
	<link rel="stylesheet" href="../../static/stylesheets/prettyPhoto.css">

	  <!-- CSS -->
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/scripts.js"></script>

	<!-- Favicons -->
	<link rel="shortcut icon" href="../../static/images/hospitalicon.ico">
	<link rel="Hospital-touch-icon" href="../../static/images/Hospital-touch-icon-64.png">
	<link rel="Hospital-touch-icon" sizes="72x72" href="../../static/images/Hospital-touch-icon-72.png">
	<link rel="Hospital-touch-icon" sizes="114x114" href="../../static/images/Hospital-touch-icon-128.png">

</head>

<body class="wrap">

	<!-- Primary Page Layout -->
	<header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="index.html" id="logo"><img src="../../static/images/hospitalLOGO.png" alt="Hospital Incorporations logo" height="64" width="105" /></a>
    </h1>
    </hgroup>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
    <li id="menu-item-1">
    <a href="index.html">Home</a>
    </li>
    <li id="menu-item-2" class="current">
    <a href="three-column.html">Domain</a>
    </li>	
    <li id="menu-item-6">
    <a href="contact.html">Contact</a>
    </li>
	<li id="menu-item-7">
    <a href="form">Contribute</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">

		<aside class="four columns left-sidebar">
        <div class="sidebar-widget">
        <h2>New Domain Added!</h2>
        <p>Department of Advanced Throat Care, established at Pune, Karnataka under the Head of Throat Diseases <strong>Dr. Ravinder Chakraborty</strong> on 21st August, 2019. 42 Doctors at work.</p>
        </div>

        <div class="sidebar-widget">
        <h2>Some links</h2>
        <ul>
        <li><a href="#">Lecture on BARF Healing.</a></li>
        <li><a href="#">Illusionistic Technology heals internal wounds!</a></li>
        <li><a href="#">How to ignore AIDS Bacterial Infection?</a></li>
        </ul>
        </div>

        <div class="sidebar-widget">
        <h2>One Hundred Thousand Patients Admitted!</h2>
        <p>World Health Survey Found out that a total of 3.4 million patients have been admitted to hospital incorporations.</p>
        </div>

        </aside>
        <!-- End Left Sidebar -->


        <article class="eight columns main-content">
        <h1>A new Advanced Blood Testing system which allows the doctor to Find all diseases in the human Body</h1>

        <img src="../../static/images/BloodTest.jpg" alt= "Blood Test Photo" class="scale-with-grid">

        <p>A venipuncture is useful as it is a minimally invasive way to obtain cells and extracellular fluid (plasma) from the body for analysis. Blood flows throughout the body, acting as a medium which provides oxygen and nutrients to tissues and carries waste products back to the excretory systems for disposal. Consequently, the state of the bloodstream affects, or is affected by, many medical conditions. For these reasons, blood tests are the most commonly performed medical tests.</p>

<p>If only a few drops of blood are needed, a fingerstick is performed instead of a venipuncture.
Phlebotomists, laboratory practitioners and nurses are those in charge of extracting blood from a patient. However, in special circumstances, and emergency situations, paramedics and physicians extract the blood. Also, respiratory therapists are trained to extract arterial blood to examine arterial blood gases.</p>

<p>For the majority of tests, blood is usually obtained from the patient's vein. Other specialized tests, such as the arterial blood gas test, require blood extracted from an artery. Blood gas analysis of arterial blood is primarily used to monitor carbon dioxide and oxygen levels related to pulmonary function, but is also used to measure blood pH and bicarbonate levels for certain metabolic conditions.</p>

<p>Turkey pork loin ham hock, chicken flank beef short ribs meatball kielbasa tail prosciutto rump corned beef. Turducken cow shankle, swine fatback ribeye filet mignon. Shoulder meatball cow, t-bone pastrami sausage pork bacon swine ground round chuck short ribs. Boudin swine meatball spare ribs ground round fatback jerky sausage beef flank.</p>

<p>While the regular glucose test is taken at a certain point in time, the glucose tolerance test involves repeated testing to determine the rate at which glucose is processed by the body. In 2008, scientists announced that the more cost effective saliva testing could eventually replace some blood tests, as saliva contains 20% of the proteins found in blood. Saliva testing may not be appropriate or available for all markers. For example, lipid levels can't be measured with saliva testing.</p>


        </article>
        <!-- End main Content -->


        <aside class="four columns right-sidebar">

        <div class="sidebar-widget social">
        <h2>Like anything about us?</h2>
        <p>If you think Hospital Incorporations is as good as a child's dream, share the social love and let the injured and needy know:</p>
        <ul>
<li><a href="http://www.twitter.com/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
<li><a href="http://www.facebook.com/"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
<li><a href="https://plus.google.com/"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
</ul>
        </div>



        <div class="sidebar-widget">
        <h2>Testimonials</h2>
        <blockquote class="testimonial no-after">
     Hospital Incorporations is a boon to the all living creatures in this world, which selflessly provides good healthcare and treatment to all, impartially.!
     <cite>Narendra Modi</cite>
     </blockquote>

     <blockquote class="testimonial no-after">
     Care to look upon all the ignored and make them feel like they are not alone in this world.!
     <cite>Rajesh Mishra</cite>
     </blockquote>

     <blockquote class="testimonial no-after">
     80% of India's population ignores little health related issues just because of finance. Now, that problem's solved..
     <cite>Dr. Giriraj Sharma</cite>
     </blockquote>
        </div>

        </aside>
        <!-- End Right Sidebar -->

    </div>

		
		<footer>

		<div class="footer-inner container">


		<div class="social footer-columns one-third column">
		<h2><i class="icon-bullhorn icon-large"></i> Get Social</h2>
		<p>Want to stalk us? Well, We will allow you to do so:</p>
		<ul>
		<li><a href="http://www.twitter.com/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
		<li><a href="http://www.facebook.com/"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
		<li><a href="https://www.google.com"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
		</ul>
		</div>

		<div class="footer-columns one-third column">
		<h2><i class="icon-book icon-large"></i> Admission for a Patient</h2>
		<p>The patient need not worry about anything. They must not think about us like some profit making industry (just like other hospitals). Hospital Incorporations is a completly non-profit health organisation for the needy. <strong>All patients are treated with utmost seriousness and as soon as possible.</strong></p>

		</div>

		<div class="footer-columns one-third column">
		<h2><i class="icon-user icon-large"></i> About Us</h2>
		<p>A non-Profit Health organisation under World Leaders and prominently Team. A sequence of most advanced hospitalization services around the globe focused at making the world a better; a healthier place! Join us in this quest for making yourself proud and Satisfied.!</p>
		</div>

		</div>

		<div id="footer-base">
		<div class="container">
		<div class="eight columns">
		Here, <a href="index.html">Join us!</a> Hospital Incorporations &copy; 2019
		</div>

		<div class="eight columns far-edge">
		Project by <a href="http://www.linkedin.com">Team</a> CSE.
		</div>
		</div>
		</div>

		</footer>

		<!-- End Document -->

		<script src="js/jquery.prettyPhoto.js"></script>
		</body>
		</html>
